<div class="container col-8 offset-2">
  <div class="row d-flex flex-row justify-content-center">
    <div
      *ngFor="let mask of maskList$ | async"
      class="card m-4"
      style="width: 12rem"
    >
      <img class="card-img-top" [src]="mask.imgurl" alt=" Card image cap" />
      <div class="card-body">
        <h5 class="card-title name">{{ mask.name }}</h5>
        <p class="card-text">{{ mask.description }}</p>
         </div>
        <div class="card-body d-flex flex-column-reverse text-right">
          <p class="card-text price">{{ mask.price }},-</p>

      </div>
    </div>
  </div>
</div>
