body {
  overflow-y: scroll;
  height: fit-content;
}
.jumbo {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 2.3rem;
  text-align:right;
  }
.lead {
   color: rgb(112, 2, 2);
   font-weight:500;
   font-size: 1.5rem;
   text-align:right;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
  }
  .footerlead {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-top: .6rem;
  }
.price {
  font-weight: 700;
  font-size: 1.5rem;
  vertical-align: bottom;
}
.name {
  font-weight: 700;
  font-size: 1.5rem;
  color: darkred;
}
